@import "~antd/lib/style/themes/default.less";
@import "../../utils/utils.less";
.container {
  z-index: 10;
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 600px;
  justify-content: center;
  border: 1px solid #d9d9d9;
}
.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pagename {
  margin-top: 10px;
  input {
    width: 100%;
    padding: 0 40px 10px 40px;
    margin-bottom: 0;
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #595959;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.controller {
  height: 40px;
  margin: 0;
  list-style-type: none;
  background-color: #d9d9d9;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  font-size: 0;
  .floatRight {
    float: right;
  }
  li {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    a {
      height: 40px;
      padding: 0px 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 17px;
      font-size: 16px;
      &:hover {
        background-color: #595959;
        text{
          color: #ffffff;
        }
        .c1 {
          background-image: url("../../assets/cimage_hover.png");
        }
        .c2 {
          background-image: url("../../assets/save_hover.png");
        }
        .c3 {
          background-image: url("../../assets/publish_hover.png");
        }
        .c4 {
          background-image: url("../../assets/open_hover.png");
        }
        .c5 {
          background-image: url("../../assets/hostory_hover.png");
        }
        .c6 {
          background-image: url("../../assets/bendi_hover.png");
        }
      }
      span {
        width: 18px;
        height: 18px;
      }
      text {
        margin-left: 5px;
        font-size: 14px;
        color: #515151;
      }
      .c1 {
        background-size: contain;
        background-image: url("../../assets/cimage.png");
      }
      .c2 {
        background-size: contain;
        background-image: url("../../assets/save.png");
      }
      .c3 {
        background-size: contain;
        background-image: url("../../assets/publish.png");
      }
      .c4 {
        background-size: contain;
        background-image: url("../../assets/open.png");
      }
      .c5 {
        background-size: contain;
        background-image: url("../../assets/hostory.png");
      }
      .c6 {
        background-size: contain;
        background-image: url("../../assets/bendi.png");
      }
    }
  }
}
.editor {
  overflow: auto;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}
.spliter {
  width: 1px;
  height: 600px;
  z-index: 10;
  border: 1px solid #d9d9d9;
  cursor: ew-resize;
}

.result {
  padding: 20px;
  color: #444;
  height: 100%;
  overflow: auto;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.5em;
  pre {
    border: 1px solid #ccc;
  }

  blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
  }

  tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr:nth-child(2n) {
    background: #f6f8fa;
  }
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
  }
}